Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [166]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [167]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [168]:
# lets connect to the driver
driver=webdriver.Chrome(r"D:\Data Science\chromedriver_win32.zip\chromedriver.exe")

In [169]:
url="https://www.naukri.com/"
driver.get(url)

In [170]:
search = driver.find_element(By.CLASS_NAME,"suggestor-input")
search.send_keys('Data Analyst')

In [173]:
loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
loc.send_keys('Bangalore')

In [175]:
button = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
button.click()

In [181]:
title = []
for i in driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]'):
    title.append(i.text)

In [182]:
location = []
for i in driver.find_elements(By.XPATH,'//li[@class="fleft br2 placeHolderLi location"]'):
    location.append(i.text)

In [183]:
company = []
for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]'):
    company.append(i.text)

In [184]:
exp = []
for i in driver.find_elements(By.XPATH,'//li[@class="fleft br2 placeHolderLi experience"]'):
    exp.append(i.text)

In [185]:
naukri=pd.DataFrame({'Job-title':title, 'Location':location, 'Company Name':company, 'Experience':exp})
naukri[0:10]

,Job-title,Location,Company Name,Experience
0,Tech Data Analyst,"Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram",Wipro,4-7 Yrs
1,Data Analyst,Bangalore/Bengaluru,Enrich Talents,0-4 Yrs
2,K12 Techno Services - Data Analyst - IIM/ISB/M...,Bangalore/Bengaluru,K12 Techno Services,4-9 Yrs
3,Data Analyst,Bangalore/Bengaluru,Freshtohome,1-4 Yrs
4,Hiring For Data Analyst-Bangalore-Contract role,Bangalore/Bengaluru,Persolkelly India,2-5 Yrs
5,Data Analyst,"Bangalore/Bengaluru, Kolkata",Anthroplace Consulting,2-6 Yrs
6,Data Analyst,Hybrid - Bangalore/Bengaluru,Allegis Group,6-8 Yrs
7,Data Analyst,Bangalore/Bengaluru,Novel Office,0-2 Yrs
8,Data Analyst,Bangalore/Bengaluru,VN2 Solutions Pvt Ltd,0-4 Yrs
9,Data Analyst -M&T,Bangalore/Bengaluru,Accolite Software India Pvt Ltd,5-7 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [187]:
driver=webdriver.Chrome(r"D:\Data Science\chromedriver_win32.zip\chromedriver.exe")

In [188]:
url="https://www.naukri.com/"
driver.get(url)

In [189]:
search = driver.find_element(By.CLASS_NAME,"suggestor-input ")
button = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[6]')
search.send_keys('Data Scientist')  
button.click()

In [191]:
loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[2]/div[2]/article[1]/div[1]/ul/li[3]')
loc.click()

In [192]:
sal = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[2]/div[2]/article[1]/div[1]/ul/li[2]/span[1]')
sal.click()

In [ ]:
title = []
for i in driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]'):
    title.append(i.text)

In [ ]:
location = []
for i in driver.find_elements(By.XPATH,'//li[@class="fleft br2 placeHolderLi location"]'):
    location.append(i.text)

In [ ]:
company = []
for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]'):
    company.append(i.text)

In [ ]:
exp = []
for i in driver.find_elements(By.XPATH,'//li[@class="fleft br2 placeHolderLi experience"]'):
    exp.append(i.text)

In [ ]:
nauk = pd.DataFrame({'Job-title':title, 'Location':location, 'Company Name':company, 'Experience':exp})
nauk[0:10]

Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data asusual
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page asusual
6. Repeat this until you get data for 100sunglasses.

In [52]:
flip = webdriver.Chrome(r"D:\Data Science\chromedriver_win32.zip\chromedriver.exe")
flip.get('https://www.flipkart.com/')

In [53]:
close = flip.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [54]:
search = flip.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys('sunglasses')
search.submit()

In [55]:
brand = []
for i in flip.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    brand.append(i.text)

In [56]:
descrp = []
for i in flip.find_elements(By.CLASS_NAME,'IRpwTa'):
    descrp.append(i.text)

In [57]:
price = []
for i in flip.find_elements(By.CLASS_NAME,'_30jeq3'):
    price.append(i.text)

In [58]:
off = []
for i in flip.find_elements(By.CLASS_NAME,'_3Ay6Sb'):
    off.append(i.text)

In [59]:
len(brand),len(descrp),len(price),len(off)

(40, 40, 45, 45)

In [60]:
nex = flip.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
nex.click()

In [61]:
for i in flip.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    brand.append(i.text)

In [62]:
for i in flip.find_elements(By.CLASS_NAME,"IRpwTa"):
    descrp.append(i.text)

In [63]:
for i in flip.find_elements(By.CLASS_NAME,'_30jeq3'):
    price.append(i.text)

In [64]:
for i in flip.find_elements(By.CLASS_NAME,'_3Ay6Sb'):
    off.append(i.text)

In [65]:
len(brand),len(descrp),len(price),len(off)

(80, 80, 90, 90)

In [66]:
ne = flip.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
ne.click()

In [67]:
for i in flip.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    brand.append(i.text)

In [69]:
for i in flip.find_elements(By.CLASS_NAME,'_IRpwTa'):
    descrp.append(i.text)

In [70]:
for i in flip.find_elements(By.CLASS_NAME,'_30jeq3'):
    price.append(i.text)

In [71]:
for i in flip.find_elements(By.CLASS_NAME,'_3Ay6Sb'):
    off.append(i.text)

In [72]:
len(brand),len(descrp),len(price),len(off)

(120, 109, 135, 135)

In [73]:
flipkart = pd.DataFrame({'Brand Name':brand[0:100], "Decription":descrp[0:100], 'Price':price[0:100], 'Offer':off[0:100]})
flipkart

,Brand Name,Decription,Price,Offer
0,OAKLEY,Latch Beta Retro Square Sunglass,"₹6,149",30% off
1,OAKLEY,Rectangular Sunglass,"₹4,819",30% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹559,30% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹629,30% off
4,NuVew,"UV Protection, Mirrored Wayfarer Sunglasses (57)",₹99,88% off
...,...,...,...,...
95,ROZZETTA CRAFT,"Polarized, UV Protection Wayfarer Sunglasses (...",₹108,87% off
96,Fastrack,UV Protection Wayfarer Sunglasses (58),₹629,30% off
97,PIRASO,UV Protection Rectangular Sunglasses (52),"₹5,239",30% off
98,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹173,89% off
99,ROYAL SON,Polarized Aviator Sunglasses (57),₹699,65% off

Scrape 100 reviews data from flipkart.com for iphone11 phone.
These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [ ]:
home = flip.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[1]/div/a[1]/img')
home.click()

In [75]:
search = flip.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys('iphone 11')
search.submit()

In [77]:
iphone = flip.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div/div/img')
iphone.click()

In [78]:
d = flip.window_handles[1]
flip.switch_to.window(d)

In [80]:
all_re = flip.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/div[4]/div[1]/div/div/div[1]/p')
all_re.click()

In [81]:
star = []
comm = []
bri = []
for page in range(0,10):
    for i in flip.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]'):
        star.append(i.text)
        
    for i in flip.find_elements(By.XPATH,'//p[@class="_2-N8zT"]'):
        comm.append(i.text)
    
    for i in flip.find_elements(By.XPATH,'//div[@class = "t-ZTKy"]'):
        bri.append(i.text)

In [82]:
phone = pd.DataFrame({'Star':star, 'Comments':comm, 'Brief':bri})
phone

,Star,Comments,Brief
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,,,
4,,,
...,...,...,...
95,,,
96,,,
97,,,
98,,,
99,,,

 Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [83]:
flip = webdriver.Chrome(r"D:\Data Science\chromedriver_win32.zip\chromedriver.exe")
flip.get('https://www.flipkart.com/')

In [84]:
close = flip.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [85]:
home = flip.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
home.click()

In [86]:
search = flip.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys('sneakers')
search.submit()

In [87]:
name,des,pir,off = [],[],[],[]
for page in range(0,3):
    for i in flip.find_elements(By.CLASS_NAME,'_2WkVRV'):
        name.append(i.text)
    
    for i in flip.find_elements(By.CLASS_NAME,'IRpwTa'):
        des.append(i.text)
        
    for i in flip.find_elements(By.XPATH,'//div[@class = "_30jeq3"]'):
        pir.append(i.text)
    
    for i in flip.find_elements(By.CLASS_NAME,'_3Ay6Sb'):
        off.append(i.text)

In [88]:
len(name),len(des),len(pir),len(off)

(120, 120, 120, 135)

In [89]:
sneaker = pd.DataFrame({'Brand':name[0:100], 'Product Description':des[0:100], 'Price':pir[0:100], 'Offer':off[0:100]})
sneaker['Price and Offer'] = sneaker['Price'] +' and ' + sneaker['Offer']
sneaker.drop(columns = ['Price','Offer'],inplace=True)
sneaker

,Brand,Product Description,Price and Offer
0,BIRDE,Premium White Sneakers For women Sneakers For ...,₹249 and 75% off
1,RapidBox,Sneakers For Men,₹569 and 43% off
2,SFR,Sneakers For Men,₹279 and 60% off
3,BRUTON,Canvas shoes for Men Sneakers For Men,₹249 and 80% off
4,Sparx,Men White Sneakers Sneakers For Men,₹674 and 25% off
...,...,...,...
95,RapidBox,Sneakers For Men,₹569 and 77% off
96,BERSACHE,"Casual Shoes For Men Waliking,Sneakers,Loafers...",₹178 and 69% off
97,BIRDE,Trendy Casual Shoe For Men Pack Of 2 Sneakers ...,₹499 and 43% off
98,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹349 and 62% off
99,Sparx,SM-641 Sneakers For Men,"₹1,149 and 65% off"

Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then 
set CPU Type filter to “Intel Core i7” as shown in the below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [90]:
driver = webdriver.Chrome(r"D:\Data Science\chromedriver_win32.zip\chromedriver.exe")
driver.get('https://www.amazon.in/')

In [93]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('laptop')
search.submit()

In [95]:
core = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[11]/span/a/span')
core.click()

In [96]:
name = []
for i in driver.find_elements(By.XPATH,'//a[@class = "a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]'):
    name.append(i.text)

In [97]:
rate = []
for i in driver.find_elements(By.XPATH,'//span[@class = "a-price-whole"]'):
    rate.append(i.text)

In [98]:
ss = []
for i in driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]'):
    ss.append(i.text)

In [99]:
len(rate),len(name),len(ss)

(32, 32, 26)

In [100]:
lap = pd.DataFrame({'Laptop Name': name[0:10], 'Price': rate[0:10], 'Rating' : ss[0:10]})
lap

                                         Laptop Name   Price Rating
0  HP Victus Gaming Latest 12th Gen Intel Core i7...  90,990  (111)
1  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...  56,990  (258)
2  Dell Inspiron 5320 Laptop, Intel i7-1260P, 16G...  84,590    (9)
3  (Renewed) Dell Latitude Laptop 7390 Intel Core...  29,990   (90)
4  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...  79,990  (115)
5  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...  96,490   (53)
6  (Renewed) Lenovo Thinkpad Laptop x270 Intel Co...  29,990    (9)
7  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...  89,990   (13)
8  (Renewed) Dell Latitude Laptop 7390 Intel Core...  38,990   (49)
9  ASUS Vivobook S15 OLED 2022, 15.6" 39.62 cms F...  84,000   (66)

Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [126]:
driver = webdriver.Chrome(r"D:\Data Science\chromedriver_win32.zip\chromedriver.exe")
driver.get('https://www.azquotes.com/')

In [138]:
quote=[]
author=[]
quote_type=[]

In [139]:
quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags[0:100]:
    tags=i.text
    quote.append(tags)
    
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:100]:
    aut=i.text
    author.append(aut)
    
type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type_tags[0:100]:
    Q_t=i.text
    quote_type.append(Q_t)

In [140]:
print(len(quote),len(author),len(quote_type))

100 100 100

In [141]:
df=pd.DataFrame({'QUOTE':quote,'AUTHOR':author,'QUOTE_TYPE':quote_type})
df

,QUOTE,AUTHOR,QUOTE_TYPE
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame

In [144]:
driver = webdriver.Chrome(r"D:\Data Science\chromedriver_win32.zip\chromedriver.exe")
driver.get('https://www.jagranjosh.com/')

In [ ]:
search = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div/div/form/div[2]/div/input[1]')
search.send_keys('List of all Prime Ministers of India')
search.click()

In [150]:
click = driver.find_element(By.XPATH, '/html/body/div[1]/div[3]/div/div[2]/div/div[2]/div/div[2]/h2/a')
click.click()

In [153]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'lxml')
tables = soup.find_all('table')

In [154]:
df = pd.read_html(driver.page_source)[0]
df.set_index('S.N.')

,Name,Born-Dead,Term of office,Remark
S.N.,,,,
1.0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964 16 years, 286 days",The first prime minister of India and the long...
2.0,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964, 13 days",First acting PM of India
3.0,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966 1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
4.0,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966 13 days,-
5.0,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977 11 years, 59 ...",First female Prime Minister of India
6.0,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 2 year, 126 days",Oldest to become PM (81 years old) and first t...
7.0,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980 170 days,Only PM who did not face the Parliament
8.0,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984 4 years, 29...",The first lady who served as PM for the second...
9.0,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989 5 years, 32...",Youngest to become PM (40 years old)
10.0,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990 343 days,First PM to step down after a vote of no confi...
11.0,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991 223 days,He belongs to Samajwadi Janata Party
12.0,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996 4 years, 330 days",First PM from south India
13.0,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996 16 days,PM for shortest tenure
14.0,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997 324 days,He belongs to Janata Dal
15.0,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 332 days,------
16.0,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 6 years, 64 days",The first non-congress PM who completed a full...
17.0,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 10 years, 4 days",First Sikh PM
18.0,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. 
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [ ]:
driver = webdriver.Chrome(r"D:\Data Science\chromedriver_win32.zip\chromedriver.exe")
driver.get('https://www.motor1.com/')

In [157]:
time.sleep(5)
features = driver.find_element(By.XPATH, '/html/body/div[3]/div[7]/div/div[1]/div[1]/div[4]/div/div[1]/h3/a')
features.click()

In [158]:
time.sleep(5)

most_exp = driver.find_element(By.XPATH, '/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/section[2]/picture/img')
most_exp.click()

In [159]:
price = driver.find_element(By.XPATH, '/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[4]/strong')

In [162]:
lists = []

for i in range(1,2):
    name = driver.find_elements(By.XPATH, '//h3[@class="subheader"]')
    #price = driver.find_elements(By.XPATH, '')

In [163]:
Top = pd.DataFrame([i.text for i in name], columns = ['Top_Expensive_Cars'])
Top

                  Top_Expensive_Cars
0                      De Tomaso P72
1                  Ferrari LaFerrari
2                      Pagani Huayra
3                       McLaren Elva
4                        Czinger 21C
5                      Ferrari Monza
6                 Gordon Murray T.33
7                  Koenigsegg Gemera
8                        Zenvo TSR-S
9                 Hennessey Venom F5
10                   Bentley Bacalar
11     Hispano Suiza Carmen Boulogne
12            Bentley Mulliner Batur
13                      Deus Vayanne
14                       SSC Tuatara
15                       Lotus Evija
16               Aston Martin Vulcan
17                        Delage D12
18                 McLaren Speedtail
19                      Rimac Nevera
20                     Pagani Utopia
21              Pininfarina Battista
22                 Ferrari FXX K Evo
23                Gordon Murray T.50
24              Lamborghini Countach
25          Mercedes-AMG Project One
26               Aston Martin Victor
27       Hennessey Venom F5 Roadster
28                  Koenigsegg Jesko
29             Aston Martin Valkyrie
30         W Motors Lykan Hypersport
31                     McLaren Solus
32         Pagani Huayra Roadster BC
33          Bugatti Chiron Pur Sport
34                  Lamborghini Sian
35                  Koenigsegg CC850
36   Bugatti Chiron Super Sport 300+
37                Lamborghini Veneno
38                    Bugatti Bolide
39                   Bugatti Mistral
40               Pagani Huayra Imola
41                      Bugatti Divo
42               SP Automotive Chaos
43                  Pagani Codalunga
44          Mercedes-Maybach Exelero
45                Bugatti Centodieci
46           Bugatti Chiron Profilée
47              Rolls-Royce Sweptail
48          Bugatti La Voiture Noire
49            Rolls-Royce Boat Tail*
50  Most Expensive Cars In The World